@using Samples.ToDo.UI.Localization
@inherits UI.ComponentBase

<div class="navbar navbar-dark ps-3 top-row">
    <div class="container-fluid">
        <a class="navbar-brand" href="@(AuthState.IsAuthenticated ? UiRoutes.ToDoLists : UiRoutes.Auth)">ToDo</a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu" title="Navigation menu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        @if (AuthState?.IsAuthenticated == true)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@UiRoutes.ToDoLists" Match="NavLinkMatch.All">
                    <span aria-hidden="true" class="oi oi-list-rich"></span> @Localization[nameof(Resource.ToDo_lists)]
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@UiRoutes.DragulaTestPage">
                    <span class="oi oi-list-rich"></span> @Localization[nameof(Resource.Dragula_test)]
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@UiRoutes.About">
                    <span class="oi oi-question-mark"></span> @Localization[nameof(Resource.About)]
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <a class="nav-link" @onclick="SignOut">
                    <span class="oi oi-account-logout"></span> @Localization[nameof(Resource.Sign_out)]
                </a>
            </div>
        }
        else
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@UiRoutes.Auth" Match="NavLinkMatch.All">
                    <span aria-hidden="true" class="oi oi-check"></span> @Localization[nameof(Resource.Authenticate)]
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@UiRoutes.About">
                    <span class="oi oi-question-mark"></span> @Localization[nameof(Resource.About)]
                </NavLink>
            </div>
        }
    </nav>
</div>