@using Samples.ToDo.UI.Localization
@inherits UI.ComponentBase

<div class="p-2 w-25">
    <div class="card">
        <div class="card-header">
            <span>
                @Localization[nameof(Resource.Project)] #@Model.Id
            </span>
        </div>
        <div class="card-body">
            <div class="d-flex flex-column p-1">
                <div class="d-flex flex-row">
                    <div class="fw-bold">
                        @Localization[nameof(Resource.Name)]:
                    </div>
                    <div class="ms-1 text-truncate" title="@State.Name">
                        @if (IsEditing)
                        {
                            <input @bind="State.Name" class="form-control" type="text"/>
                            <ValidationMessageComponent Name="@nameof(UpdateProjectRequest.Name)"/>
                        }
                        else
                        {
                            @State.Name
                        }
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div class="fw-bold">
                        @Localization[nameof(Resource.Description)]:
                    </div>
                    <div class="ms-1 text-truncate" title="@State.Description">
                        @if (IsEditing)
                        {
                            <input @bind="State.Description" class="form-control" type="text"/>
                            <ValidationMessageComponent Name="@nameof(UpdateProjectRequest.Description)"/>
                        }
                        else
                        {
                            @State.Description
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="d-flex">
                <div class="p-1">
                    @if (IsEditing)
                    {
                        <div class="d-flex">
                            <div class="me-2 ms-auto">
                                <button class="btn btn-outline-success btn-sm" @onclick="edit" title="@Localization[nameof(Resource.Save)]" type="button">
                                    <span class="oi oi-check"></span>
                                </button>
                            </div>
                            <div>
                                <button class="btn btn-outline-secondary btn-sm" @onclick="toggleIsEditing" title="@Localization[nameof(Resource.Cancel)]" type="button">
                                    <span class="oi oi-circle-x"></span>
                                </button>
                            </div>
                        </div>
                    }
                    else
                    {
                        <button class="btn btn-outline-primary btn-sm" @onclick="toggleIsEditing" title="@Localization[nameof(Resource.Edit)]" type="button">
                            <span class="oi oi-pencil"></span>
                        </button>
                    }
                </div>
                <div class="ms-auto p-1">
                    <button class="btn btn-outline-info btn-sm" @onclick="openProjectPage" title="@Localization[nameof(Resource.Open)]" type="button">
                        <span class="oi oi-document"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>